body {
    margin: 0;
    padding: 0;
}

/* banner style */
.header {
    margin: 0 auto;
    height: auto;
}

.first-title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding: 177px 531px 0px 530px;
}

.second-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 16px 344px 177px 344px;
}

.header {
    background: url('../resources/Banner\ Image.png'), linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    background-position: center;
}

.third-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    padding-top: 120px;
}

.our-description {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
}

.fourth-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
}

.img-one {
    display: block;
    margin: auto;
}

.welcome-party {
    padding: 230px 250px 243px 250px;
    display: flex;
    align-items: center;

    background-image: url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-evenly;


}

.welcome-party .join-image {
    width: 319.83px;
}

.fifth-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 0;
}

.dolar-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.banner-content {
    max-width: 400px;
}

.join-now {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

#date-time {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 482px;
}

.date-time-place {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    padding: 100px 386px 0px 385px;
}

.join-here {
    background-color: #F00;
    border-radius: 8px;
    margin-bottom: 110px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    gap: 10px;
}

/* sale-discount */

.sale-discount {
    background-color: #FFF;

}

.discount-sale {
    text-align: center;

}

.what-is {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.holiday-sale {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    padding-top: 16px;
}

.dolar-amit {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    padding: 0px 126px 0 126px;
}

/* image section */
.image-gallary {
    
    background-color: #FFF;

}

.image-gallary-two {
    gap: 5px;
    align-items: center;
}

.the-best {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 120px;
}

.our-awesome {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.sodales-risus {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.image-gallary-three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-gallary-three img {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    margin: 24px;
}